.grid-container {
    display: grid;
    grid-template-columns: 200px 250px;
    grid-template-rows: minmax(150px, auto);
    grid-gap: 20px;
    justify-items: stretch;
    align-items: stretch;

}

.grid-item {
    background-color: #c4e;
    border: 1px solid black;
    padding: 40px;

}

.grid-item1 {
    align-self: start;
    justify-self: center;
}