:root {
    --content-align: center;
    --content-height: auto;
    --primary-color: rgba(0, 0, 139, 1);
    --border-color: black;
    --space-standard: 1rem;
    --border-width: 1px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--primary-color);
    padding: 9px;
}

main img {
    width: 150px;
    height: var(--content-height);
    border: var(--border-width) solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rm;
}

p {
    margin: 1rem;
    padding: 0;
}

aside {
    width: 20rem;
    margin: var(--space-standard);
    border: var(--border-width) solid rgb(0 0 0 / 0.2);
    padding: var(--space-standard);
    background-color: #eee;
    color: #333;
    text-align: var(--content-align);
    position: relative
}

aside img {
    width: 200px;
    height: var(--content-height);
}

aside h2 {
    position: absolute;
    top: 25px;
    left: 125px;
}

footer {
    margin-top: 15px;
    border-top: var(--border-spacing) solid var(--border-color);
    text-align: var(--content-align);
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0, 0, .1);
    padding: 1rem;
    background-color: #eee;
    color: #000;

}

.indent {
    padding-left: 2rem;
}